@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Inter";
}

img {
  max-inline-size: 100%;
}

.bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 0;
  z-index: -1;
}
.bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.container {
  padding: 2rem 1.5rem;
  height: 100vh;
}

picture {
  line-height: 0;
  font-size: 0;
}

.day-bg,
.night-bg {
  display: none;
}

h1 {
  font-size: 0.75rem;
  line-height: 1.83;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0.5rem;
  max-width: 35ch;
}

.author {
  font-size: 0.75rem;
  color: #fff;
  font-weight: 800;
  line-height: 1.83;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 40vh;
  gap: 1rem;
  height: 10vh;
  width: 100%;
  position: relative;
}

.refresh {
  position: absolute;
  top: 0;
  right: 0;
}
.refresh:hover {
  opacity: 0.7;
  cursor: pointer;
}
.refresh.clicked {
  -webkit-animation: rotate 0.4s ease-out forwards;
          animation: rotate 0.4s ease-out forwards;
}

.daytime .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.daytime .icons {
  margin-right: 1rem;
}
.daytime .timezone-short {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.daytime .welcome-message {
  font-size: 0.95rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  line-height: 1.66;
}
.daytime .night,
.daytime .day {
  display: none;
}
.daytime time {
  display: inline-block;
  font-size: 6.25rem;
  font-weight: 800;
  letter-spacing: -2.5px;
  color: #fff;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}
.daytime .location {
  font-size: 0.95rem;
  line-height: 1.8;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  margin-bottom: 3rem;
}

.toggle_main {
  width: 115px;
  height: 39px;
  border-radius: 90px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-inline: 1rem;
  position: relative;
}
.toggle_main:hover {
  cursor: pointer;
}
.toggle_main:hover .inner-circle, .toggle_main:hover .less, .toggle_main:hover .more {
  opacity: 0.7;
}
.toggle_main.toggled .inner-circle {
  right: calc(100% - 40px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.toggle_main span {
  font-size: 0.75rem;
  line-height: 1.1;
  letter-spacing: 3.75px;
  color: #303030;
  font-weight: 800;
}
.toggle_main .inner-circle {
  height: 32px;
  width: 32px;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  line-height: 0;
  position: absolute;
  right: 7px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.toggle_main .less {
  display: none;
  position: absolute;
  right: 1rem;
}

.more_info {
  padding: 3rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 40vh;
  display: none;
}
.more_info .more_info--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.more_info .more_info--wrapper .category:not(:last-of-type) {
  margin-bottom: 1rem;
}
.more_info .category {
  font-size: 0.625rem;
  line-height: 2.8;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}
.more_info .data {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 800;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media screen and (min-width: 650px) {
  .container {
    padding: 5rem 4rem;
  }
  h1 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  .header_wrapper {
    margin-bottom: 30vh;
  }
  .author {
    font-size: 1.125rem;
  }
  .daytime time {
    font-size: 10.37rem;
  }
  .daytime .local {
    font-size: 1.125rem;
  }
  .toggle_main {
    height: 56px;
    width: 146px;
  }
  .toggle_main.toggled .inner-circle {
    right: calc(100% - 50px);
  }
  .toggle_main .inner-circle {
    height: 40px;
    width: 40px;
  }
  .toggle_main .more,
  .toggle_main .less {
    font-size: 1.125rem;
  }
  .more_info {
    text-align: start;
  }
  .flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 5rem;
  }
  .more_info {
    padding: 4rem 5vw;
  }
  .more_info .more_info--wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;
    margin-bottom: 1rem;
  }
  .more_info .more_info--wrapper .data {
    font-size: 2.5rem;
  }
  .more_info .more_info--wrapper .category:not(:last-of-type) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .header_wrapper {
    margin-bottom: 35vh;
  }
  .header_wrapper h1 {
    max-width: 45ch;
  }
  .container {
    padding-inline: 10.31rem;
  }
  .timezone-short {
    font-size: 2.5rem;
  }
  .clock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .clock time {
    font-size: 12.5rem;
  }
  .clock .welcome-message {
    font-size: 1.5rem;
  }
  .clock .location {
    margin-bottom: 0;
  }
  .clock .local {
    font-size: 1.5rem;
  }
  .more_info {
    padding-inline: 10.31rem;
  }
  .more_info .flex-wrap {
    gap: 15vw;
  }
  .more_info .flex-wrap .category {
    font-size: 0.95rem;
  }
  .more_info .flex-wrap .data {
    font-size: 3.5rem;
  }
}