@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$black: #000;
$white: #fff;
$dark-gray: #303030;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter';
}

img {
    max-inline-size: 100%;
}






.bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 0;
    z-index: -1;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
     
    }
}

.container {
    
    padding: 2rem 1.5rem;
    height: 100vh;
    
}

picture {
    line-height: 0;
    font-size: 0;
}

.day-bg,
.night-bg {
    display: none;
}

h1 {
    font-size: .75rem;
    line-height: 1.83;
    color: $white;
    font-weight: 400;
    margin-bottom: .5rem;
    max-width: 35ch;
    display: none;
}

.author {
    font-size: .75rem;
    color: $white;
    font-weight: 800;
    line-height: 1.83;
    display: none;
}
.header_wrapper {
    display: flex;
    align-items: start;
    margin-bottom: 40vh;
    gap: 1rem;
    height: 10vh;
    width: 100%;
    position: relative;
}

.refresh {
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
        opacity: .7;
        cursor: pointer;
    }

    &.clicked {
        animation: rotate .4s ease-out forwards;
    }
}

.daytime {
    
    .welcome {
        display: flex;
        align-items: center;
    }

    .icons {
        margin-right: 1rem;
    }

    .timezone-short {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .welcome-message {
        font-size: .95rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        line-height: 1.66;
    }
    .night,
    .day {
        display: none;
    }
    time {
        display: inline-block;
        font-size: 6.25rem;
        font-weight: 800;
        letter-spacing: -2.5px;
        color: $white;
        margin-bottom: 1rem;
        margin-right: .5rem;
    }

    .location {
        font-size: .95rem;
        line-height: 1.8;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $white;
        font-weight: 800;
        margin-bottom: 3rem;
    }

    
}

.toggle_main {
    width: 115px;
    height: 39px;
    border-radius: 90px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 1rem;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &:hover .inner-circle,
    &:hover .less,
    &:hover .more {
        opacity: .7;;
    }

    &.toggled .inner-circle {
        right: calc(100% - 40px);
        transform: rotate(180deg);
    }

    span {
        font-size: .75rem;
        line-height: 1.1;
        letter-spacing: 3.75px;
        color: $dark-gray;
        font-weight: 800;
        
    }

    .inner-circle {
        height: 32px;
        width: 32px;
        background-color: $dark-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        line-height: 0;
        position: absolute;
        right: 7px;
        transition: all .3s ease-in;

    }

    .less {
        display: none;
        position: absolute;
        right: 1rem;
    }

    
}

.more_info {
    padding: 3rem 1.5rem;
    background-color: fade-out($color: $black, $amount: .5);
    backdrop-filter: blur(6px);
    height: 40vh;
    display: none;

    .more_info--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .category:not(:last-of-type) {
            margin-bottom: 1rem;
        }
        
    }

    .category {
        font-size: .625rem;
        line-height: 2.8;
        letter-spacing: 2px;
        color: $white;
        text-transform: uppercase;
    }

    .data {
        font-size: 1.25rem;
        color: $white;
        font-weight: 800;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 650px) {
    
    .container {
        padding: 5rem 4rem;
    }

    h1 {
        font-size: 1.125rem;
        margin-bottom: 1rem;

    }

    .header_wrapper {
        margin-bottom: 30vh;
    }

    .author {
        font-size: 1.125rem;
    }
    .daytime {
        time {
            font-size: 10.37rem;
        }

        .local {
            font-size: 1.125rem;
        }
    }

    .toggle_main {
        height: 56px;
        width: 146px;

        &.toggled .inner-circle {
            right: calc(100% - 50px);
            
        }

        .inner-circle {
            height: 40px;
            width: 40px;
        }

        .more,
        .less {
            font-size: 1.125rem;
        }

        
    }

    .more_info {
        text-align: start;
    }

    .flex-wrap {
        display: flex;
        justify-content: start;
        gap: 5rem;
    }

    .more_info {
        padding: 4rem 5vw;
    }

    .more_info .more_info--wrapper {
        flex: 1;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-bottom: 1rem;
        

        
        .data {
            font-size: 2.5rem;
        }

        .category:not(:last-of-type) {
            margin-bottom: 0;
        }
        
    }

    
}

@media screen and (min-width: 1170px) {

    .header_wrapper {
        margin-bottom: 35vh;

        h1 {
            max-width: 45ch;
        }
    }

    .container {
        padding-inline: 10.31rem;
    }

    .timezone-short {
        font-size: 2.5rem;
    }


    .clock {
        display: flex;
        justify-content: space-between;
        align-items: end;

        time {
            font-size: 12.5rem;
        }

        .welcome-message {
            font-size: 1.5rem;
        }

        .location {
            margin-bottom: 0;
        }
        .local {
            font-size: 1.5rem;
        }
    }

    .more_info {
        padding-inline: 10.31rem;
        
        

        .flex-wrap {
            gap: 15vw;

            .category {
                font-size: .95rem;
            }

            .data {
                font-size: 3.5rem;
            }
        }
    }
}
